<div class="shelf">
  <figure class="shelf__picture">
    <img src="/assets/images/product-image-{{productInfo.id}}.jpg" alt="{{productInfo.title}}">
    <figcaption>
      <p>{{productInfo.title}}{{ " - " + productInfo.style }}</p>
    </figcaption>
  </figure>
  <div class="shelf__price">
    <p class="shelf__price--full"> R$ {{productInfo.price}} </p>
    <p class="shelf__price--installment">R$ {{ productInfo.installment ? productInfo.price / productInfo.installment : ''}}</p>
  </div>
</div>
