.cart{
  width: 85%;
  height: 100%;
  max-width: 515px;
  position: fixed;
  top: 0;
  background: #202025;
  color: #fff;
  overflow-y: auto;
  overflow-x: hidden;
  right: -100%;
  opacity: 0;
  visibility: hidden;

  transition: .4s ease-in-out;

  &__trigger{
    position: fixed;
    right: 2rem;
    top: 2rem;
    background-color: #dfbd00;
    color: #000000;
    text-transform: uppercase;
    border: 0;
    font-size: .8rem;
    padding: .5rem;
    font-weight: 700;
    cursor: pointer;
  }

  &--open{
    right: 0;
    opacity: 1;
    visibility: visible;
  }

  &__overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.2);
    z-index: -1;
    cursor: pointer;
  }

  &__empty{
    font-size: 1.8rem;
    text-align: center;
    color: #444444;
  }

  header{
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;

    p{
      transform: translateX(1rem)
    }

    span{
      width: 16px;
      height: 16px;
      font-size: 0.7rem;
      text-align: center;
      display: inline-block;
      background: #dfbd00;
      color: #000;
      border-radius: 50%;
      position: relative;
      top: 8px;
      margin-right: 1rem;

      &:before{
        content:'';
        width: 33px;
        height: 40px;
        background-image: url('/assets/icons/bag.png');
        display: block;
        position: absolute;
        left: -25px;
        top: -28px;
        z-index: -1;
      }
    }
  }

  main{
    > *{
      border-top: 2px solid #131316;

      &:last-child{
        border-bottom: 2px solid #131316;
      }
    }
  }

  footer{
    padding: 1rem;
  }

  &__subtotal{
    text-transform: uppercase;

    &:after{
      content:'';
      display: table;
      clear: both;
    }

    p{
      margin: 0;
    }

    > p{
      float: left;
      font-size: .9rem;
      color: #797979;
    }

    > div{
      float: right;
      text-align: right;
    }
  }

  &__total-price{
    font-size: 1.5rem;
    color: #dfbd00;
    font-weight: 900;

    &--installments{
      font-size: 0.8rem;
      color: #444444;
    }
  }

  &__buy{
    width: 100%;
    margin: 1rem 0;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    background-color: #000000;
    padding: 1rem;
    display: block;
    font-size: .9rem;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    transition: .2s ease-in-out;

    &:hover{
      transform: scale(1.02);
      background-color: #dfbd00;
    }
  }
}
