<div class="cart">
  <header>
    <p><span>{{ productsInCart.length }}</span>Sacola</p>
  </header>
  <main *ngFor="let product of productsInCart">
    <app-cart-product></app-cart-product>
  </main>
  <footer>
    <div class="cart__subtotal">
      <p>Subtotal</p>
      <div>

        <p
        class="cart__total"
        [innerHTML]="getPriceFormated( totalPrice | currency: 'BRL' )"></p>

        <p
        class="cart__total--installments"
        [innerHTML]="getInstallments( totalPrice / installmentTimes | currency: 'BRL' )"></p>

      </div>
    </div>
  </footer>
</div>
