<button
  type="button"
  class="cart-trigger"
  (click)="triggerCart($event)">Minha Sacola</button>

<div class="cart" [ngClass]="{'cart--open': cartIsOpen}">
  <div
  class="cart__overlay"
  (click)="triggerCart($event)"></div>
  <header>
    <p><span>{{ productsInCart.length }}</span>Sacola</p>
  </header>

  <main>
    <div *ngFor="let product of productsInCart">
      <app-cart-product [productData]="product" (onProductDeleted)="deleteProduct($event)"></app-cart-product>
    </div>
    <div *ngIf="!productsInCart.length">
      <p class="cart__empty">Seu carrinho está vazio =(</p>
    </div>
  </main>

  <footer *ngIf="productsInCart.length">
    <div class="cart__subtotal">
      <p>Subtotal</p>
      <div>

        <p
        class="cart__total-price"
        [innerHTML]="getPriceFormated( totalPrice | currency: 'BRL' )"></p>

        <p
        class="cart__total-price--installments"
        [innerHTML]="getInstallments( totalPrice / installmentTimes | currency: 'BRL' )"></p>

      </div>
    </div>
    <button class="cart__buy">Comprar</button>
  </footer>
</div>
