body{
    font-family: 'Open Sans', sans-serif;
    margin: 2em 0;

  .shelf__price--full,
  .cart-product__price{
    span{
      font-size: .8rem;
      font-weight: 500;
    }
  }
}

.cart__total-price{
  span{
    font-weight: 500;
  }
}

figure{
  margin: 0;
}

img{
  max-width: 100%;
  height: auto;
}

